<html>
<body>
	<h1>Product List</h1>
	<br>
	
	<table>
		<tr>
			<th>Id</th>
			<th>Título</th>
			<th>Descrição</th>
			<th>Preço</th>
		</tr>
		<% for ( var i = 0; i < list.length; i++ ) { %>
		<tr>
			<td><%=list[i].id %></td>
			<td><%=list[i].titulo %></td>
			<td><%=list[i].descricao %></td>
			<td><%=list[i].preco %></td>
		</tr>
		<% } %>
	</table>
	
</body>
</html>